username = "$${user}"
matplotlib_style = "~/.sauronlab/sauronlab.mplstyle"
viz_file = "~/.sauronlab/sauronlab_viz.properties"
jupyter_template = "~/.sauronlab/jupyter.txt"
n_cores = 2
cache_path = $${cache}
dataset_path = $${datasets}
video_path = $${videos}
shire_path = $${shire}
tunnel_host = $${tunnel_host}
tunnel_port = $${tunnel_port}
